<!doctype html>
<html>
    <head>
        <title>magdalena</title>
    </head>
    <body>
        <h1>magdalena</h1>
        <form action="" method="post">
            <div>
                <label for="git_repository_url">Git repository URL:</label><br>
                <input type="text" id="git_repository_url" name="git_repository_url">
            </div>
            <div>
                <label for="filename">File in Git repository:</label><br>
                <input type="text" id="filename" name="filename">
            </div>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
